.commans_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin-top: 40px;
}

.commans_article > h2 {
    align-self: flex-start;
    width: 335px; 
    text-align: left;
    margin-left: calc((980px - 335px) / 2); /* тут нужно адаптировать под 1920*1080 в том числе */
    margin-bottom: -15px; 
}

.slider_command_wrapper {
    position: relative;
    overflow: hidden;
    width: 800px;
}

.slider_command {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease;
}

.person {
    flex: 0 0 170px;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: flex-start; 
    border: 2.5px solid #1FAB89;
    border-radius: 10px;
    gap: 5px;
    width: 335px;
    height: 250px; 
}

.person > img {
    width: 132px;
    height: 138px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0; 
}

.person > h2 {
    font-size: 16px;
    margin: 0;
    text-align: center;
    word-wrap: break-word; 
    white-space: normal; 
    line-height: 1.2; 
    max-height: 40px; 
    overflow: hidden; 
}

.person > p {
    font-size: 14px;
    padding: 5px 0 20px 0;
    text-align: center;
    word-wrap: break-word; 
    white-space: normal; 
    line-height: 1.2; 
    max-height: 40px;
    overflow: hidden; 
}

.slider_command_controls {
    position: absolute;
    top: 50%;
    left: 735px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1; 
}

.slider_button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}


